@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aws-orange: 255, 153, 0;
  --accent-color: #aaa;
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: var(--aws-orange);
  --background-end-rgb: 255, 255, 255; */
}
.highlight {
  background-color: rgb(var(--aws-orange));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2.5em;
}
input[type="text"],
input[type="search"],
input[type="number"] {
  padding: 0.25em;
  background-color: rgb(var(--background-start-rgb));
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: 0.25em;
}
input::placeholder,
input {
  text-align: center;
}

a[href] {
  text-decoration: underline;
  color: theme(colors.blue.500);
}
a:visited {
  color: theme(colors.purple.500)
}

/* actionFilter? */
tr.action td:nth-child(even) {
  text-align: center;
}

