@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aws-orange: 255, 153, 0;
  --accent-color: #aaa;
  --foreground: #000;
  --background: #fff;
}
.highlight {
  background-color: rgb(var(--aws-orange));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: 2.5em;
}
input[type="text"],
input[type="search"],
input[type="number"] {
  padding: 0.25em;
  background: var(--background);
  border: 1px solid var(--foreground);
  border-radius: 0.25em;
}
input::placeholder,
input {
  text-align: center;
}

a[href] {
  text-decoration: underline;
  color: theme(colors.blue.500);
}
a:visited {
  color: theme(colors.purple.500)
}
.accent {
  color: var(--accent-color)
}
